/* Global */
:root {
  /* Color */
  --color-black: #282828;
  --color-white: #ffffff;
  --color-gray: #555555;
  --color-light-gray: #aaaaaa;
  --color-orange: #ff8a00;

  /* Font-size */
  --font-large: 66px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 11px;

  /* Font-weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
}

* {
  box-sizing: border-box;
}
